* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: rgba(241, 239, 239, 0.925);
    --primary-color: rgba(35, 35, 88, 0.87); /**/
    --secondary-color: rgba(88, 88, 204, 0.87);
    --therdy-color: rgba(149, 197, 229, 0.87);
    --fourty-color: rgba(10, 121, 111, 0.87); 
    --fifty-color: rgb(23, 90, 235);
}

html,body {
    width: 100%;
    overflow-x: hidden;     /* Para Não ter BARRA de rolagem na Horizontal*/
}

header {
    border: 2px solid rgb(139, 233, 121);
    width: 100%;
    height: 500px;
    background: var(--primary-color);
}

.content {
    max-width: 1000px;      /* Adequar a tela nesse Size - se tiver*/
    min-width: 350px;       /* Thinking about Mobile First*/
    margin: 0 auto;         /* Maneira antiga de centralizar na tela - responsividade milenar*/
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*      Nav - MENU    */

.content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 100%;
}

/*  LOGO MARCA  */

.content nav .logo {
    color: var(--main-color);
    cursor: pointer;
    
}
.content nav .logo span {
    color: var(--therdy-color);
}

/*  MENU - BOTAO  */

.content nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.content nav ul li {
    margin: 0px 15px;
    padding: 7px;
}
.content nav ul li a:hover {
    color: var(--therdy-color);
}
.content nav ul li a {
    color: var(--main-color);
    text-decoration: none;
    padding: 10px;
}
.content nav ul button {
    border: 1px solid var(--therdy-color);
    border-radius: 8px;
    padding: 10px;
    color: var(--therdy-color);
    width: 150px;
    display: inline-block;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}
.content nav ul button:hover {
    transition: background-color, color 0.9s;
    background-color: var(--fourty-color);
    color: var(--main-color);
}

/*   HEADER-BLOCK - TEXT + IMAGE*/


.content .header-block {
    background-color: var(--fifty-color);
    max-width: 1000px;      
    min-width: 300px;
    border-radius: 10px;
    height:450px;
    display: flex;
    justify-content: space-around;
    color: var(--main-color);
    position: relative;
    padding: 10px;
    z-index: 10;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
}
.content .header-block .text {
    bottom: 30%;
    left: 10%;
    position: absolute;
}
.content .header-block .text h2 {
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}
.content .header-block .text p {
    max-width: 280px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}
.content .header-block img {
    width: 65%;
    position: absolute;        /*  Quando utilizar POSITION - ativa-se o uso do RIGHT-LEFT-TOP-BOTTOM*/
    right: 2%;
    bottom: 2%;
}


/*  SECTOIN - CATALOG*/

section .catalog {
    border: 2px solid black;
    width: 100vw;
    padding: 100px;
}

section .title-wrapper-catalog {
    
}
section .filter-card {
    width: 950px;
    height: 150px;
    background: var(--therdy-color);
    border-radius: 8px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;    /*  Por padão já é ROW  */
    align-items: center;
    justify-content: center;    
}
section .search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-indent: 10px;
    font-size: 1.2rem;
}
section .search-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--fifty-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.2s ease;
}
section .search-button:hover {
    background-color: var(--therdy-color);
    color: var(--primary-color);
}
section .title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
}




section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;

}
.card-wrapper .card-item {
    background-color: var(--therdy-color);
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-wrapper .card-item img {
    padding-top: 20px;
}
.card-wrapper .card-item .card-box {
    background-color: var(--therdy-color);
    height: 40%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;
}
.card-wrapper .card-item .card-box h3 {
    width: 90%;
    text-align: center;
}
.card-wrapper .card-item .card-box p {
    width: 90%;
    font-style: italic;
    color: #00000070;
}
.card-wrapper .card-item .card-box button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background-color: var(--fifty-color);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}
.card-wrapper .card-item .card-box button:hover {
    background-color: var(--therdy-color);
    color: var(--primary-color);
}
.card-wrapper .card-item img {
    width: 85%;
}

/* ABOUT */

.about {
    height: 100vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.title-wrapper-about {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.about-content {
    background-color: rgba(241, 235, 235, 0.7);
    border-radius: 8px;
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    z-index: 10;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-content .left {
    background-color: gray;
    min-width: 300px;
    height: 100%;
    border-radius: 10px;
}

.about-content .right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    line-height: 27px;
    padding-top: 10%;
}
.about-content .right h3 {
    width: 90%;
    margin-bottom: 20px;
    text-align: right;
}
.about-content .right p {
    max-width: 90%;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
}

/* FEATURES */


.features {
    border: 2px solid red;
    height: 100vh;
}

.features .content {
    border: 2px solid green;
}

.title-wrapper-feature {
    border: 2px solid purple;
}

.feature-content {
    border: 2px solid gray;
}

.feature-content .feature-box {
    border: 2px solid orange;
}
.feature-content .feature-box .left-logo img {
    height: 100px;
}





/* FOOTER */